force-app/main/default/flows/Clone_Summit_Event_Instance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Timezone_Offset</name>
        <label>Get Timezone Offset</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <actionName>FIU_InvokeTimeZoneOffset</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Which_Department_is_this_related_to</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>timeZone</name>
            <value>
                <elementReference>Instance_To_Clone.summit__Instance_Time_Zone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FIU_InvokeTimeZoneOffset</nameSegment>
        <outputParameters>
            <assignToReference>var_TimeZoneOffset</assignToReference>
            <name>objectname</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Set_Reminders_Help_Text_Verbiage</name>
        <label>Copy 1 of Set: Reminders Help Text Verbiage</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Reminders_HelpText_Bullets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EPERemindersBullets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Event_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PINO_Set_Reminders_Help_Text_Verbiage</name>
        <label>Set: Reminders Help Text Verbiage</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Reminders_HelpText_Bullets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pino_ReminderBullets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Event_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_TimeZone</name>
        <label>Reset TimeZone</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>var_TimeZoneOffset</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_the_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_TimeZoneOffset</name>
        <label>Reset TimeZoneOffset</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>var_TimeZoneOffset</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_the_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reminders_Help_Text_Verbiage_Chapman</name>
        <label>Set: Reminders Help Text Verbiage</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Reminders_HelpText_Bullets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chapman_Reminders_bullets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Event_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Size_of_Created_Reminders_Collection</name>
        <label>Set: Size of Created Reminders Collection</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>CreatedReminderSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CreatedReminders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CloneSuccess_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Reminders</name>
        <label>Create Reminders?</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Set_Size_of_Created_Reminders_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Reminders</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Reminders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enable_Reminders</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Newly_Created_Instance</targetReference>
            </connector>
            <label>Yes Create Reminders</label>
        </rules>
    </decisions>
    <decisions>
        <name>DST_test</name>
        <label>DST?</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_the_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Leave alone</defaultConnectorLabel>
        <rules>
            <name>YesDST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DST_BEGINS</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Event_Start_Date_Time</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DST_ENDS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Event_Start_Date_Time</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Instance_To_Clone.summit__Instance_Time_Zone__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Eastern Daylight Time (America/New_York)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_TimeZoneOffset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>EST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Instance_To_Clone.summit__Instance_Time_Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eastern Daylight Time (America/New_York)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_TimeZone</targetReference>
            </connector>
            <label>EST?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Department_is_this_related_to</name>
        <label>Which Department is this related to?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Clone_Event_Instance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Configured</defaultConnectorLabel>
        <rules>
            <name>Chapman</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Instance_To_Clone.summit__Event__r.summit__Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chapman Graduate School</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reminders_Help_Text_Verbiage_Chapman</targetReference>
            </connector>
            <label>Chapman</label>
        </rules>
        <rules>
            <name>EPE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Instance_To_Clone.summit__Event__r.summit__Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executive and Professional Education</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Reminders_Help_Text_Verbiage</targetReference>
            </connector>
            <label>EPE</label>
        </rules>
        <rules>
            <name>Pino</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Instance_To_Clone.summit__Event__r.summit__Account__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Pino</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PINO_Set_Reminders_Help_Text_Verbiage</targetReference>
            </connector>
            <label>Pino</label>
        </rules>
    </decisions>
    <description>Screen Flow to Assist Users in Cloning Event Instances. Targets only the necessary fields.
8-22-24: Addded Pino reminders</description>
    <dynamicChoiceSets>
        <name>PL_BuildingOver</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>summit__Building_Override__c</picklistField>
        <picklistObject>summit__Summit_Events_Instance__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Screen_Location_Type_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>summit__Location_Type_Override__c</picklistField>
        <picklistObject>summit__Summit_Events_Instance__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DST_BEGINS</name>
        <dataType>Date</dataType>
        <expression>DATE ( YEAR (DATEVALUE({!Event_Start_Date_Time})),3,1) + ( 14 - CASE( MOD(DATE ( YEAR (DATEVALUE({!Event_Start_Date_Time})),3,1) - DATE (1900,1,7),7) , 0,7,MOD(DATE ( YEAR (DATEVALUE({!Event_Start_Date_Time})),3,1) - DATE (1900,1,7),7)) )</expression>
    </formulas>
    <formulas>
        <name>DST_ENDS</name>
        <dataType>Date</dataType>
        <expression> DATE ( YEAR ( DATEVALUE({!Event_End_Date_Time})),11,1) + ( 7- CASE( MOD(DATE ( YEAR ( DATEVALUE({!Event_End_Date_Time})),11,1) - DATE (1900,1,7),7) , 0,7,MOD(DATE ( YEAR ( DATEVALUE({!Event_End_Date_Time})),11,1) - DATE (1900,1,7),7)) )</expression>
    </formulas>
    <formulas>
        <name>EndDateTime_EDT</name>
        <dataType>DateTime</dataType>
        <expression>{!Event_End_Date_Time} +  ({!var_TimeZoneOffset}/24)</expression>
    </formulas>
    <formulas>
        <description>If Pino, inherit from Clone.</description>
        <name>fml_AddressOverride</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Instance_To_Clone.summit__Event__r.summit__Account__r.Name}   , &apos;Pino&apos;), {!Instance_To_Clone.summit__Location_Address_Override__c}  , &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>For Pino, allow inherit from Clone.</description>
        <name>fml_LocationTitleOverride</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Instance_To_Clone.summit__Event__r.summit__Account__r.Name}, &apos;Pino&apos;), {!Instance_To_Clone.summit__Location_Title_Override__c}, &apos;&apos; )</expression>
    </formulas>
    <formulas>
        <description>If Pino, inherit from Clone.</description>
        <name>fml_MapLinkOverride</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Instance_To_Clone.summit__Event__r.summit__Account__r.Name}, &apos;Pino&apos;), {!Instance_To_Clone.summit__Location_Map_Link_Override__c}, &apos;&apos; )</expression>
    </formulas>
    <formulas>
        <description>If EPE, inherit the Meeting ID</description>
        <name>fml_MeetingID_EPE</name>
        <dataType>String</dataType>
        <expression>IF({!Instance_To_Clone.summit__Event__r.summit__Account__r.Name} = &apos;Executive and Professional Education&apos;, {!Instance_To_Clone.Virtual_Meeting_ID__c} , &apos;&apos; )</expression>
    </formulas>
    <formulas>
        <name>fml_MeetingPassword_EPE</name>
        <dataType>String</dataType>
        <expression>IF({!Instance_To_Clone.summit__Event__r.summit__Account__r.Name} = &apos;Executive and Professional Education&apos;, {!Instance_To_Clone.Virtual_Meeting_Password__c} , &apos;&apos; )</expression>
    </formulas>
    <formulas>
        <description>If Pino, inherit from clone or TBD.</description>
        <name>fml_Parking</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS( {!Instance_To_Clone.summit__Event__r.summit__Account__r.Name} , &apos;Pino&apos; ), IF( ISBLANK({!Instance_To_Clone.Parking_info__c}), &apos;TBD&apos; , {!Instance_To_Clone.Parking_info__c}  )      , &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>StartDateTime_EDT</name>
        <dataType>DateTime</dataType>
        <expression>{!Event_Start_Date_Time} + ({!var_TimeZoneOffset}/24)</expression>
    </formulas>
    <formulas>
        <name>TODAY_NOW_7</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(NOW())+ 7</expression>
    </formulas>
    <formulas>
        <name>TODAY_NOW_8</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(NOW())+ 7+ (60/1440)</expression>
    </formulas>
    <interviewLabel>Clone Summit Event Instance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Summit Event Instance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_the_Instance</name>
        <label>Create the Instance</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <assignRecordIdToReference>CreatedRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Reminders</targetReference>
        </connector>
        <inputAssignments>
            <field>Parking_info__c</field>
            <value>
                <elementReference>Parking_Info_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Virtual_Meeting_ID__c</field>
            <value>
                <elementReference>Meeting_ID_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Virtual_Meeting_Password__c</field>
            <value>
                <elementReference>Meeting_Passcode_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Active_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Building_Override__c</field>
            <value>
                <elementReference>Building_Override_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Capacity_Control__c</field>
            <value>
                <stringValue>Individual Registrants</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Capacity__c</field>
            <value>
                <elementReference>Capacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event_Fee_Additional_Allocation_Override__c</field>
            <value>
                <elementReference>EventFee_Addl_Alloc_OnScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event_Fee_Additional_Override__c</field>
            <value>
                <elementReference>Event_Fee_Additional_Override_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event_Fee_Allocation_Override__c</field>
            <value>
                <elementReference>EventFee_alloc_OnScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event_Fee_Override__c</field>
            <value>
                <elementReference>Event_Fee_Override</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Event__c</field>
            <value>
                <elementReference>Instance_To_Clone.summit__Event__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_End_Date__c</field>
            <value>
                <elementReference>EndDateTime_EDT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_End_Time__c</field>
            <value>
                <elementReference>EndDateTime_EDT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_Short_Description__c</field>
            <value>
                <elementReference>Event_Short_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_Start_Date__c</field>
            <value>
                <elementReference>StartDateTime_EDT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_Start_Time__c</field>
            <value>
                <elementReference>StartDateTime_EDT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_Time_Zone__c</field>
            <value>
                <stringValue>Eastern Daylight Time (America/New_York)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Instance_Title__c</field>
            <value>
                <elementReference>Event_Instance_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Location_Address_Override__c</field>
            <value>
                <elementReference>Address_Override_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Location_Map_Link_Override__c</field>
            <value>
                <elementReference>Map_Link_Override</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Location_Title_Override__c</field>
            <value>
                <elementReference>Location_Title_Override_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Location_Type_Override__c</field>
            <value>
                <elementReference>Location_Type_Override_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Private_Instance__c</field>
            <value>
                <elementReference>Private_Instance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>summit__Virtual_Meeting_Link__c</field>
            <value>
                <elementReference>Virtual_Meeting_Link_Screen</elementReference>
            </value>
        </inputAssignments>
        <object>summit__Summit_Events_Instance__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Newly_Created_Instance</name>
        <label>Get Newly Created Instance</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subflow_to_Create_Default_Reminders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Instance_To_Clone</name>
        <label>Instance To Clone</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timezone_Offset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>summit__Summit_Events_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_Event_Instance</name>
        <label>Clone Event Instance</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>DST_test</targetReference>
        </connector>
        <fields>
            <name>Basic_Information_Screen</name>
            <fieldText>Basic Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Basic_Information_Screen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Event_Instance_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Instance_To_Clone.summit__Instance_Title__c</elementReference>
                    </defaultValue>
                    <fieldText>Event Instance Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Event_Start_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>TODAY_NOW_7</elementReference>
                    </defaultValue>
                    <fieldText>Event Start Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Instance Start Date must be same as or earlier than the Instance End Date&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Event_Start_Date_Time} &lt; {!Event_End_Date_Time}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Event_End_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>TODAY_NOW_8</elementReference>
                    </defaultValue>
                    <fieldText>Event End Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Instance End Date must be same as or later than the Instance Start Date&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Event_End_Date_Time} &gt; {!Event_Start_Date_Time}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Basic_Information_Screen_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Event_Short_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Instance_To_Clone.summit__Instance_Short_Description__c</elementReference>
                    </defaultValue>
                    <fieldText>Event Instance Short Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Input must be less than 255 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Event_Short_Description}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Capacity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Instance_To_Clone.summit__Capacity__c</elementReference>
                    </defaultValue>
                    <fieldText>Capacity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Enable_Reminders</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
                    <fieldText>Enable Reminders?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;{!RemindersVerbiage}&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 or 2 or 3</conditionLogic>
                        <conditions>
                            <leftValueReference>Instance_To_Clone.summit__Event__r.summit__Account__r.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Chapman Graduate School</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Instance_To_Clone.summit__Event__r.summit__Account__r.Name</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Executive</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Instance_To_Clone.summit__Event__r.summit__Account__r.Name</leftValueReference>
                            <operator>StartsWith</operator>
                            <rightValue>
                                <stringValue>Pino</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Private_Instance</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Private Instance?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;em&gt;Hide this instance from being Published externally?&lt;/em&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Override_Fields</name>
            <fieldText>Override Fields</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Override_Fields_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_Type_Override_Screen</name>
                    <choiceReferences>Screen_Location_Type_PL</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Instance_To_Clone.summit__Location_Type_Override__c</elementReference>
                    </defaultValue>
                    <fieldText>Location Type Override</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Virtual_Meeting_Link_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Virtual Meeting Link</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Ensure the URL is less than 255 characters and that the format is a valid URL (www.website.com)&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( LEN({!Virtual_Meeting_Link_Screen}) &lt;= 255 ,
 
  REGEX({!Virtual_Meeting_Link_Screen},&quot;^((http|https)://)??(www[.])??([a-zA-Z0-9]|-)+?([.][a-zA-Z0-9(-|/|=|?)??]+?)+?$&quot;)  
 
 )</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Online</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Meeting_ID_screen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fml_MeetingID_EPE</elementReference>
                    </defaultValue>
                    <fieldText>Meeting ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Meeting ID must be less than 100 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Meeting_ID_screen}) &lt;= 100</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>1 AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>Instance_To_Clone.summit__Event__r.summit__Account__r.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Executive and Professional Education</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Online</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Meeting_Passcode_screen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fml_MeetingPassword_EPE</elementReference>
                    </defaultValue>
                    <fieldText>Meeting Passcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Passcode must be less than 100 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Meeting_Passcode_screen}) &lt;= 100</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Online</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Instance_To_Clone.summit__Event__r.summit__Account__r.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Executive and Professional Education</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Building_Override_Screen</name>
                    <choiceReferences>PL_BuildingOver</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Instance_To_Clone.summit__Building_Override__c</elementReference>
                    </defaultValue>
                    <fieldText>Building Override</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Override_Fields_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Event_Fee_Override</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Instance_To_Clone.summit__Event_Fee_Override__c</elementReference>
                    </defaultValue>
                    <fieldText>Event Fee Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a numeric value less than or equal to 999,999.99&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Event_Fee_Override} &lt;= 999999.99</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>EventFee_alloc_OnScreen</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>summit__Event_Fee_Allocation_Override__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>summit__Summit_Events_Instance__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Event Fee Allocation Override</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Instance_To_Clone.summit__Event_Fee_Allocation_Override__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Event_Fee_Additional_Override_Screen</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Instance_To_Clone.summit__Event_Fee_Additional_Override__c</elementReference>
                    </defaultValue>
                    <fieldText>Event Fee Additional Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a numeric value less than or equal to 999,999.99&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Event_Fee_Additional_Override_Screen} &lt;= 999999.99</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>EventFee_Addl_Alloc_OnScreen</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>summit__Summit_Events_Instance__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Event Fee Additional Allocation Override</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>summit__Event_Fee_Additional_Allocation_Override__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Instance_To_Clone.summit__Event_Fee_Additional_Allocation_Override__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Location_Override_Fields</name>
            <fieldText>Location Override Fields</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Location_Override_Fields_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_Title_Override_Screen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fml_LocationTitleOverride</elementReference>
                    </defaultValue>
                    <fieldText>Location Title Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Input must be less than 255 characters&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Location_Title_Override_Screen}) &lt;= 255</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Online</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Map_Link_Override</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fml_MapLinkOverride</elementReference>
                    </defaultValue>
                    <fieldText>Map Link Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please reduce input to 255 characters. Try to shorten the URL, and verify this is a valid URL&lt;/p&gt;</errorMessage>
                        <formulaExpression> AND( LEN({!Map_Link_Override}) &lt;= 255 ,
 
  REGEX({!Map_Link_Override},&quot;^((http|https)://)??(www[.])??([a-zA-Z0-9]|-)+?([.][a-zA-Z0-9(-|/|=|?)??]+?)+?$&quot;)  
 
 )</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Online</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Location_Override_Fields_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_Override_Screen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fml_AddressOverride</elementReference>
                    </defaultValue>
                    <fieldText>Address Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please reduce input to 255 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Address_Override_Screen}) &lt;= 255</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Online</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Parking_Info_Screen</name>
                    <defaultValue>
                        <stringValue>{!fml_Parking}</stringValue>
                    </defaultValue>
                    <fieldText>Parking Info</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please reduce input to 1,000 characters. &lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Parking_Info_Screen}) &lt;= 1000</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Online</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Online</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Location_Type_Override_Screen</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CloneSuccess_Screen</name>
        <label>Clone Instance - Successful</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreenText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your Cloned Event &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;[{!Event_Instance_Title}] &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;was Successfully Created.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may view it here:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://fiucrm.lightning.force.com/lightning/r/summit__Summit_Events_Instance__c/{!CreatedRecordId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://fiucrm.lightning.force.com/lightning/r/summit__Summit_Events_Instance__c/{!CreatedRecordId}/view&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CreatedRecordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CloneSuccess_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CloneSuccess_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RemindersText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The following Event Reminders were created:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Reminders</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Summit_Events_Instance_Reminder__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>CreatedReminders</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Amount_of_Time__c&quot;,&quot;guid&quot;:&quot;column-f699&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Amount of Time&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Unit_of_time__c&quot;,&quot;guid&quot;:&quot;column-8309&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Unit of Time&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CreatedReminderSize</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Instance_To_Clone</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Subflow_to_Create_Default_Reminders</name>
        <label>Subflow to Create Default Reminders</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Set_Size_of_Created_Reminders_Collection</targetReference>
        </connector>
        <flowName>SubFlow_Summit_Events_Instance_Reminders_Create_Default_Reminders</flowName>
        <inputAssignments>
            <name>rv_IncomingInstance</name>
            <value>
                <elementReference>Get_Newly_Created_Instance</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CreatedReminders</assignToReference>
            <name>NewRemindersCollection</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Chapman_Reminders_bullets</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;1 day before&lt;/li&gt;&lt;li&gt;1 hour before&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EPERemindersBullets</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;1 day before (24 hours prior)&lt;/li&gt;&lt;li&gt;8:00 AM (Day of event)&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Pino_ReminderBullets</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;1 day before&lt;/li&gt;&lt;li&gt;1 hour before&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RemindersVerbiage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Create this instance with the default set of reminders for&lt;strong&gt; {!Instance_To_Clone.summit__Event__r.summit__Account__r.Name}&lt;/strong&gt; events:&lt;/p&gt;&lt;p&gt;{!Reminders_HelpText_Bullets}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CreatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedReminders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Summit_Events_Instance_Reminder__c</objectType>
    </variables>
    <variables>
        <name>CreatedReminderSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reminders_HelpText_Bullets</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MeetingIDEPE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_TimeZoneOffset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
