force-app/main/default/flows/Event_Instance_Created_Create_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Skip_Preview_Events</name>
        <label>Skip Preview Events</label>
        <locationX>210</locationX>
        <locationY>96</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign_Event_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Is_Preview_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.summit__Event__r.Preview_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Preview Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Event_Campaign_part_of_same_FY</name>
        <label>Is Event Campaign is part of same FY?</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Event_Instance_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES - SKIP</defaultConnectorLabel>
        <rules>
            <name>No_Check_if_there_is_a_correct_one</name>
            <conditionLogic>(1 AND 2 AND 3) OR  4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.summit__Event__r.Campaign__r.Parent.Parent.StartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fml_FY_StartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.summit__Event__r.Campaign__r.Parent.Parent.EndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fml_FY_EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.summit__Event__r.Campaign__r.Parent.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.summit__Event__r.Campaign__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.summit__Event__r.Campaign__r.Parent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_FY_Event_Parent</targetReference>
            </connector>
            <label>No - Check if there is a  correct one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_match_found</name>
        <label>Was a match found?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Dept</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES FOUND - SKIP</defaultConnectorLabel>
        <rules>
            <name>No_Make_new_FY_Event_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_EventParentFYId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_FY_Event_Parent</targetReference>
            </connector>
            <label>No - Make new FY Event Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_match_found2</name>
        <label>Was a match found?</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Create_Event_Instance_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SKIP</defaultConnectorLabel>
        <rules>
            <name>No_Create_a_New_Event_Campaign_for_this_FY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_EventCampaignID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_New_Event_Campaign_Related_to_FY</targetReference>
            </connector>
            <label>No - Create a New Event Campaign for this FY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_match_found3</name>
        <label>Was a match found?</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Find_Event_Campaign_for_FY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SKIP</defaultConnectorLabel>
        <rules>
            <name>No_Create_a_New_Dept_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_EventDeptCampaignID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Dept_Event_Campaign_for_FY</targetReference>
            </connector>
            <label>No - Create a New Dept Campaign</label>
        </rules>
    </decisions>
    <description>Creates Campaign type Event for an Event Instance when an Instance is created
Add Date to Name
MB 6/18/24 - Added FY Logic</description>
    <environments>Default</environments>
    <formulas>
        <name>EventInstanceTitle_StartDate</name>
        <dataType>String</dataType>
        <expression>LEFT(TRIM(LEFT({!$Record.summit__Instance_Title__c}, 67)) &amp;&apos; - &apos;&amp;TEXT({!$Record.summit__Instance_Start_Date__c}), 80)</expression>
    </formulas>
    <formulas>
        <name>fml_EventCampDeptName</name>
        <dataType>String</dataType>
        <expression>IF(   CONTAINS({!$Record.summit__Event__r.RecordType.Name}, &quot;Chapman&quot;), &quot;Chapman GSB Events&quot; , {!$Record.summit__Event__r.RecordType.Name} )</expression>
    </formulas>
    <formulas>
        <description>FiscalYear EndDate of The Event Inst</description>
        <name>fml_FY_EndDate</name>
        <dataType>Date</dataType>
        <expression>IF( {!$Record.summit__Instance_Start_Date__c} &gt; DATE(YEAR({!$Record.summit__Instance_Start_Date__c}), 06, 30), DATE(YEAR({!$Record.summit__Instance_Start_Date__c})+1, 06, 30), DATE(YEAR({!$Record.summit__Instance_Start_Date__c}), 06, 30))</expression>
    </formulas>
    <formulas>
        <description>FiscalYear Start of Event Inst</description>
        <name>fml_FY_StartDate</name>
        <dataType>Date</dataType>
        <expression>IF( {!$Record.summit__Instance_Start_Date__c} &gt; DATE(YEAR({!$Record.summit__Instance_Start_Date__c}), 06, 30), DATE(YEAR({!$Record.summit__Instance_Start_Date__c}), 07, 01), DATE(YEAR({!$Record.summit__Instance_Start_Date__c})-1 , 07, 01))</expression>
    </formulas>
    <formulas>
        <name>fml_NewFiscalYearCampaignName</name>
        <dataType>String</dataType>
        <expression>&quot;COB Events Campaigns FY &quot; + RIGHT(TEXT(YEAR({!fml_FY_StartDate})),2) + &quot;/&quot; +  RIGHT(TEXT(YEAR({!fml_FY_EndDate})), 2)</expression>
    </formulas>
    <interviewLabel>Event Instance Created - Create Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Instance Created - Create Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event_Instance_Campaign</name>
        <label>Create Event Instance Campaign</label>
        <locationX>336</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Update_Campaign_in_Instance</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.summit__Instance_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EventInstanceTitle_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.COBSalesforceUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_EventCampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Campaign_Event_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.summit__Instance_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Dept_Event_Campaign_for_FY</name>
        <label>Create New Dept Event Campaign for FY</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignRecordIdToReference>var_EventDeptCampaignID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Event_Campaign_for_FY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_EventCampDeptName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fml_EventCampDeptName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.COBSalesforceUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_EventParentFYId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Campaign_Event_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>create_New_Event_Campaign_Related_to_FY</name>
        <label>create New Event Campaign Related to FY</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <assignRecordIdToReference>var_EventCampaignID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Event_Instance_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.summit__Event__r.summit__Event_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.summit__Event__r.summit__Event_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.COBSalesforceUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_EventDeptCampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Campaign_Event_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>Create_New_FY_Event_Parent</name>
        <label>Create New FY Event Parent</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignRecordIdToReference>var_EventParentFYId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Dept</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_NewFiscalYearCampaignName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fml_NewFiscalYearCampaignName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.COBSalesforceUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Campaign_Event_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event Parent</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordLookups>
        <name>Find_Event_Campaign_for_FY</name>
        <label>Find Event Campaign for FY</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_match_found2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_EventDeptCampaignID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Record.summit__Event__r.summit__Event_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>var_EventCampaignID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_FY_Event_Parent</name>
        <label>Find FY Event Parent</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_match_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>COB Events Campaigns</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>var_EventParentFYId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Event_RT</name>
        <label>Get Campaign Event RT</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Event_Campaign_part_of_same_FY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIU_Events</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dept</name>
        <label>Get Dept Event Campaign for FY</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_match_found3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_EventCampDeptName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_EventParentFYId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>var_EventDeptCampaignID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_in_Instance</name>
        <label>Update Campaign in Instance</label>
        <locationX>336</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>Campaign_Override__c</field>
            <value>
                <elementReference>Create_Event_Instance_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Preview_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Override__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>summit__Summit_Events_Instance__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_EventCampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.summit__Event__r.Campaign__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_EventDeptCampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EventParentFYId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
