force-app/main/default/flows/Event_Created_Create_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Campaign_ID</name>
        <label>Assign Campaign ID</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_ParentCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chapman_Event_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Event_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PCampaign_ID</name>
        <label>Assign Campaign ID</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_ParentCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Event_type_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Event_RT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Skip_Preview_Events</name>
        <label>Skip Preview Events</label>
        <locationX>562</locationX>
        <locationY>96</locationY>
        <defaultConnector>
            <targetReference>Is_it_a_Graduate_event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Is_Preview_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Preview_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Preview Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_New_Fiscal_Year_Entirely</name>
        <label>New Fiscal Year Entirely?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Get_Event_RT_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SKIP</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Make_new_FiscalYear_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ParentParentCampaignID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Event_Parent_Campaign</targetReference>
            </connector>
            <label>Yes - Make new FiscalYear Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Parent_Found_Found</name>
        <label>Event Found?</label>
        <locationX>1040</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_PCampaign_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Found</defaultConnectorLabel>
        <rules>
            <name>No_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_type_Campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Event_type_Campaign</targetReference>
            </connector>
            <label>No - Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_Graduate_event</name>
        <label>Is it a Graduate event?</label>
        <locationX>688</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Event_type_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.summit__Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduate recruitment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.summit__Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grad non-recruitment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chapman_Event_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Fiscal_Year_Entirely</name>
        <label>New Fiscal Year Entirely?</label>
        <locationX>886</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Get_Event_RT_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SKIP</defaultConnectorLabel>
        <rules>
            <name>Yes_Make_new_FiscalYear_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ParentParentCampaignID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Create_Event_Campaign</targetReference>
            </connector>
            <label>Yes - Make new FiscalYear Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Chapman_Event_Found</name>
        <label>Was a Chapman Event Found?</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_Campaign_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Not_Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chapman_Event_Campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Main_Event_Parent_Campaign</targetReference>
            </connector>
            <label>No - Not Found</label>
        </rules>
    </decisions>
    <description>Create a Campaign for the Event under the parent umbrella Campaign based on the Event type.
Handle FiscalYear and checking if the Event Campaign exists yet.</description>
    <environments>Default</environments>
    <formulas>
        <name>fml_EventDeptCampaignName</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.Name}+&quot; FY &quot; + RIGHT(TEXT(YEAR({!fml_FY_StartDate})),2) + &quot;/&quot; +  RIGHT(TEXT(YEAR({!fml_FY_EndDate})), 2)</expression>
    </formulas>
    <formulas>
        <description>FiscalYear EndDate of The Event</description>
        <name>fml_FY_EndDate</name>
        <dataType>Date</dataType>
        <expression>IF( {!$Record.summit__Start_Date__c} &gt; DATE(YEAR({!$Record.summit__Start_Date__c}), 06, 30), DATE(YEAR({!$Record.summit__Start_Date__c})+1, 06, 30), DATE(YEAR({!$Record.summit__Start_Date__c}), 06, 30))</expression>
    </formulas>
    <formulas>
        <description>FiscalYear Start of Event</description>
        <name>fml_FY_StartDate</name>
        <dataType>Date</dataType>
        <expression>IF({!$Record.summit__Start_Date__c} &gt;  DATE(YEAR({!$Record.summit__Start_Date__c})-1, 07, 01), DATE(YEAR({!$Record.summit__Start_Date__c}), 07, 01) , DATE(YEAR({!$Record.summit__Start_Date__c})-1, 07, 01))</expression>
    </formulas>
    <formulas>
        <name>fml_NewFiscalYearCampaignName</name>
        <dataType>String</dataType>
        <expression>&quot;COB Events Campaigns FY &quot; + RIGHT(TEXT(YEAR({!fml_FY_StartDate})),2) + &quot;/&quot; +  RIGHT(TEXT(YEAR({!fml_FY_EndDate})), 2)</expression>
    </formulas>
    <interviewLabel>Event Created - Create Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Created - Create Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Event_Campaign</name>
        <label>Create Event Dept Campaign</label>
        <locationX>886</locationX>
        <locationY>1163</locationY>
        <assignRecordIdToReference>var_ParentCampaignId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Event_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fml_EventDeptCampaignName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.COBSalesforceUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_ParentParentCampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Event_RT_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Event_Parent_Campaign</name>
        <label>Create Event Parent Campaign</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>var_ParentParentCampaignID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Event_RT_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fml_NewFiscalYearCampaignName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.COBSalesforceUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Event_RT_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event Parent</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Event_Campaign</name>
        <label>Create Event Dept Campaign</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignRecordIdToReference>var_ParentCampaignId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Event_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chapman GSB Events</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Chapman GSB Events</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.COBSalesforceUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_ParentParentCampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Event_RT_3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Event_Campaign</name>
        <label>Create Event Parent Campaign</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>var_ParentParentCampaignID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Event_RT_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fml_NewFiscalYearCampaignName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.COBSalesforceUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Event_RT_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event Parent</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_campaign</name>
        <label>Create Event Campaign</label>
        <locationX>688</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Update_Campaign_in_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.summit__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.summit__Event_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.COBSalesforceUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_ParentCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Event_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.summit__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Main_Event_Parent_Campaign</name>
        <label>Get Main Event Parent Campaign</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_New_Fiscal_Year_Entirely</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>COB Events Campaigns</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>var_ParentParentCampaignID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Event_type_Campaign</name>
        <label>Get Main Event Parent Campaign</label>
        <locationX>886</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Fiscal_Year_Entirely</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_FY_EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>COB Events Campaigns</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>var_ParentParentCampaignID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Chapman_Event_Campaign</name>
        <label>Get Chapman Event Campaign</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Chapman_Event_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Chapman GSB Events</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.summit__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.summit__Start_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_RT</name>
        <label>Get Event RT</label>
        <locationX>688</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Event_campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIU_Events</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_RT_2</name>
        <label>Get Event RT 2</label>
        <locationX>886</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Event_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIU_Events</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_RT_3</name>
        <label>Get Event RT 3</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Create_Event_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIU_Events</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_type_Campaign</name>
        <label>Get Event type Campaign</label>
        <locationX>1040</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Parent_Found_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.summit__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.summit__Start_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_in_Event</name>
        <label>Update Campaign in Event</label>
        <locationX>688</locationX>
        <locationY>1655</locationY>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Create_Event_campaign</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Preview_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Preview_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>summit__Summit_Events__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ParentCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ParentParentCampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
